body{
    width: 400px;
    margin: 0;
    height: 600px;
}
header{
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #5df97a;
    font-size: 18px;
}
#start,#stop{
    margin: 20px;
    display: grid;
}
.brand{
    font-size: 30px;
    color: white;
}
#switch{
    display: none;
}

.dots{
    color: gray;
    font-size: 20px;
}
#list{
    margin: 0;
    padding: 0;
}
.state{
    list-style: none;
    text-align: center;
    min-height: 50px;
    overflow: auto;
}
.duration{
    margin-bottom: 0;
    max-width: 100px;
    min-width: 100px;
    float: right;
    font-family: monospace;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bg-offline{
    background-color:#e3e3e3!important;
}
#profiles{
    display: none;
}
#iconState{
    width: 20px;
    position: relative;
    height: 20px;
    margin: 71px 0 0 71px;
}
#profile{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
}
#pics{
    margin: 0;
    text-align: center;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: inherit;
}
.messagesIcon{
    width: 22px;
    height: 22px;
}
.online-actions{

}

.messag{
    list-style: none;
}
.mIn{
    background-color: aqua!important;
}
.mOut{
    background-color: #0c5460!important;
}
#average{
    text-align: center;
}
